li.language-switcher-controls > a { display: none !important; }
li.language-switcher-controls > ul { list-style: none; padding-left: 0; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start; justify-content: flex-start; }
li.language-switcher-controls > ul > li { position: relative; }
li.language-switcher-controls > ul > li > a { padding: 18px 15px; text-decoration: none; outline: none; color: #9d9d9d; }
li.language-switcher-controls > ul > li > a:hover { color: white; }
li.language-switcher-controls > ul > li > a img { display: inline-block; }
li.language-switcher-controls > ul > li.active > a { background: black; color: white; }
li.language-switcher-controls > ul > li.active > a img { box-shadow: 0 0 15px black, 0 0 20px white, 0 0 22.5px white, 0 0 25px white; }
li.language-switcher-controls > ul > li + li:before { content: ''; position: absolute; left: 0; top: 50%; height: 20px; width: 0; margin-top: -9px; border-left: 1px solid #9d9d9d; }
@media (max-width: 767px) { li.language-switcher-controls { margin: 10px 0; }
  li.language-switcher-controls > ul > li.active > a { background: transparent; } }

/*# sourceMappingURL=style.css.map */
