li.language-switcher-controls {
    > a {
        display: none !important;
    }

    > ul {
        list-style:      none;
        padding-left:    0;
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        align-items:     flex-start;
        justify-content: flex-start;

        > li {
            position: relative;

            > a {
                padding:         18px 15px;
                text-decoration: none;
                outline:         none;
                color:           #9d9d9d;

                &:hover {
                    color: white;
                }

                img {
                    display: inline-block;
                }
            }

            &.active {
                > a {
                    background: black;
                    color:      white;

                    img {
                        box-shadow: 0 0 15px black, 0 0 20px white, 0 0 22.5px white, 0 0 25px white;
                    }
                }
            }

            + li {
                &:before {
                    content:     '';
                    position:    absolute;
                    left:        0;
                    top:         50%;
                    height:      20px;
                    width:       0;
                    margin-top:  -9px;
                    border-left: 1px solid #9d9d9d;
                }
            }
        }
    }

    @media(max-width: 767px) {
        margin: 10px 0;

        > ul {
            > li {
                &.active {
                    > a {
                        background: transparent;
                    }
                }
            }
        }
    }
}
