.section-i18n-grid form#i18n-grid-filter { padding: 0 0 20px; }
.section-i18n-grid form#i18n-grid-filter .field-wrapper { display: flex; flex-wrap: wrap; flex-direction: row; align-items: flex-start; justify-content: flex-start; margin: 0 -15px; }
.section-i18n-grid form#i18n-grid-filter .field-wrapper .form-group { width: calc(100% / 3 - 30px); margin: 10px 15px; }
.section-i18n-grid .modal .source-description { margin: 5px 0 15px; color: #555555; font-size: 16px; }

/*# sourceMappingURL=i18n.css.map */
