@import '../../vars.scss';

.section-i18n-grid {
    form#i18n-grid-filter {
        padding: 0 0 20px;

        .field-wrapper {
            display:         flex;
            flex-wrap:       wrap;
            flex-direction:  row;
            align-items:     flex-start;
            justify-content: flex-start;
            margin:          0 -15px;

            .form-group {
                width:  calc(100% / 3 - 30px);
                margin: 10px 15px;
            }
        }
    }

    .modal {
        .source-description {
            margin:    5px 0 15px;
            color:     #555555;
            font-size: 16px;
        }
    }
}
