html, body { height: 100%; }

header nav ul.navbar-nav { list-style: none; padding-left: 0; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center; }
@media (max-width: 767px) { header nav ul.navbar-nav { width: 100%; flex-direction: column; }
  header nav ul.navbar-nav > li { width: 100%; } }

.page-wrapper { min-height: 600px; padding-top: 70px; }

.grid-view a[data-sort]:after { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; padding-left: 5px; }
.grid-view a[data-sort].asc:after { content: "\e151"; }
.grid-view a[data-sort].desc:after { content: "\e152"; }

/*# sourceMappingURL=layout.css.map */
