@import '../../vars.scss';

html,
body {
    height: 100%;
}

header {
    nav {
        ul.navbar-nav {
            list-style:      none;
            padding-left:    0;
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            align-items:     center;
            justify-content: center;
        }
    }

    @media(max-width: $screen-xs-max) {
        nav {
            ul.navbar-nav {
                width:          100%;
                flex-direction: column;

                > li {
                    width: 100%;
                }
            }
        }
    }
}

.page-wrapper {
    min-height:  600px;
    padding-top: 70px;
}

.grid-view {
    a[data-sort] {
        &:after {
            position:     relative;
            top:          1px;
            display:      inline-block;
            font-family:  'Glyphicons Halflings';
            font-style:   normal;
            font-weight:  normal;
            line-height:  1;
            padding-left: 5px;
        }

        &.asc:after {
            content: "\e151";
        }

        &.desc:after {
            content: "\e152";
        }
    }
}
