//## Default theme color file
@import '../source/global/_variables.scss';
@import '../source/global/components/_mixins.scss';
@import '../source/cabinet/_variables.scss';

// Theme Colors Settigns

// Main settings
$theme-name: "default";
$brand-main-color: #ef3f3f !default;
$brand-main-font-color: #ffffff !default;

// Body and header    
$bg-color: #c0c6c2 !default;
$header-logo-bg-color: $brand-main-color !default;
$header-top-bg-color: #ffffff !default;
$header-top-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);

// Header search
$header-search-bg-color: darken($header-top-bg-color, 3%) !default;
$header-search-font-color: darken(#889eb2, 3%) !default;
$header-search-placeholder-font-color: darken($header-search-font-color, 1%) !default;

// Top menu
$header-top-menu-bg-hover-color: lighten(#f6f7fa, 1%) !default;
$header-top-menu-bg-hover-color-on-dropdown-open: lighten(#f6f7fa, 1%) !default;
$header-top-menu-badge-bg-color: $brand-main-color;
$header-top-menu-badge-font-color: #ffffff;
$header-top-menu-icon-font-color: #c0cddc !default;

// Top menu user bar
$header-top-menu-user-font-color: darken(#889eb2, 3%) !default;
$header-top-menu-user-bg-color: none !default;

//begin: Top Menu Extended Dropdowns
$header-top-menu-extended-dropdown-item-bg-color-on-hover: #f8f9fa;
$header-top-menu-extended-dropdown-item-border-color: #eff2f6;
$header-top-menu-extended-dropdown-item-font-color: #888888;

$header-top-menu-extended-dropdown-header-bg-color: darken(#f7f8fa, 4%);
$header-top-menu-extended-dropdown-border-color: darken($header-top-menu-extended-dropdown-header-bg-color, 2%);
$header-top-menu-extended-dropdown-header-font-color: darken(#6f949c, 5%);

$header-top-menu-inbox-dropdown-from-font-color: #5b9bd1;

$header-top-menu-task-dropdown-progress-bg-color: #dfe2e9;

$header-top-menu-notification-time-bg-color: lighten(#eeeeee, 1%);

// Top Menu Notifications
$header-hor-menu-bg-color: #3d3d3d;
$header-top-menu-dropdown-dark-bg-color: lighten($header-hor-menu-bg-color, 10%);
$header-top-menu-dropdown-dark-header-bg-color: lighten($header-hor-menu-bg-color, 2%);
$header-top-menu-dropdown-dark-header-font-color: lighten($header-top-menu-dropdown-dark-header-bg-color, 50%);

$header-top-menu-dropdown-dark-item-font-color: lighten($header-top-menu-dropdown-dark-header-bg-color, 55%);
$header-top-menu-dropdown-dark-item-border-color: lighten($header-top-menu-dropdown-dark-bg-color, 6%);
$header-top-menu-dropdown-dark-item-icon-color: lighten($header-top-menu-dropdown-dark-header-bg-color, 45%);
$header-top-menu-dropdown-dark-item-bg-color-on-hover: lighten($header-top-menu-dropdown-dark-bg-color, 4%);

$header-top-menu-dropdown-dark-default-menu-divider: $header-top-menu-dropdown-dark-item-border-color;
$header-top-menu-dropdown-dark-notification-time-bg-color: darken($header-top-menu-dropdown-dark-bg-color, 5%);
//end: Top Menu Extended Dropdowns  

// Top menu dropdown 
$header-top-menu-dropdown-head-bg-color: lighten(#3d4a53, 35%);
$header-top-menu-dropdown-head-font-color: lighten(#3d4a53, 95%);
$header-top-menu-dropdown-border-color: lighten(#3d4a53, 60%);

// Sidebar menu
$sidebar-bg-color: #3d3d3d !default;
$sidebar-menu-devider-border-color: lighten($sidebar-bg-color, 8%) !default;

$sidebar-menu-link-font-color: lighten($sidebar-bg-color, 60%) !default;
$sidebar-menu-link-font-color-on-hover: lighten($sidebar-bg-color, 70%) !default;
$sidebar-menu-link-font-color-on-active: lighten($sidebar-bg-color, 80%) !default;

$sidebar-menu-link-icon-font-color: lighten($sidebar-bg-color, 30%) !default;
$sidebar-menu-link-icon-font-color-on-active: lighten($brand-main-color, 2%) !default;
$sidebar-menu-link-icon-font-color-on-hover: lighten($sidebar-menu-link-icon-font-color, 5%) !default;

$sidebar-menu-link-bg-color-on-hover: #303030 !default;
$sidebar-menu-link-bg-color-on-active: $brand-main-color;

$sidebar-menu-arrow-color: lighten($sidebar-bg-color, 12%) !default;
$sidebar-menu-arrow-color-on-active: darken($sidebar-menu-link-font-color-on-active, 4%) !default;
$sidebar-menu-arrow-color-on-hover: $sidebar-menu-link-icon-font-color-on-hover !default;

$sidebar-menu-sub-menu-box-shadow-color: $sidebar-menu-link-bg-color-on-hover !default;
$sidebar-menu-sub-menu-link-font-color: lighten($sidebar-bg-color, 55%) !default;
$sidebar-menu-sub-menu-link-icon-font-color: darken($sidebar-menu-sub-menu-link-font-color, 30%) !default;
$sidebar-menu-sub-menu-link-bg-color-on-hover: darken($sidebar-bg-color, 3%) !default;
$sidebar-menu-sub-menu-link-icon-font-color-on-hover: $sidebar-menu-link-icon-font-color-on-hover !default;

$sidebar-menu-hover-sub-menu-bg-color: darken($sidebar-bg-color, 6%) !default;

// Sidebar for mobile
$mobile-sidebar-menu-bg-color: darken($bg-color, 7%) !default;
$mobile-sidebar-menu-link-bg-color-on-hover: darken($bg-color, 4%) !default;

// Footer
$footer-fluid-font-color: darken($sidebar-menu-link-font-color, 10%);
$footer-default-font-color: darken(#3d4a53, 20%) !default;
$footer-default-go-top-bg-color: darken(#94a0b2, 10%) !default;
$footer-default-go-top-icon-font-color: lighten(#94a0b2, 40%) !default;
$footer-fixed-bg-color: darken($bg-color, 10%) !default;

//Boxed layout
$for-min-992px-page-boxed-page-container-bg-color: $sidebar-menu-devider-border-color !default;
$for-min-992px-page-boxed-bg-color: darken($bg-color, 3%) !default;
$for-min-992px-page-boxed-sidebar-fixed-border-color: $sidebar-menu-devider-border-color !default;

@import '../source/cabinet/_base.scss';
