// Resize anything

@mixin resizable($direction) {
    resize:   $direction; // Options: horizontal, vertical, both
    overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
}
