@import 'source/global/_variables.scss';
@import 'source/global/components/_mixins.scss';
@import 'source/cabinet/_variables.scss';
@import 'source/cabinet/layout/_print.scss';
@import 'source/cabinet/layout/_header.scss';
@import 'source/cabinet/layout/_page-container.scss';
@import 'source/cabinet/layout/_sidebar.scss';
@import 'source/cabinet/layout/_content.scss';
@import 'source/cabinet/layout/_footer.scss';
@import 'source/cabinet/layout/_theme-panel.scss';

.page-on-load {
    background: #fefefe;

    .page-header,
    .page-container,
    .page-footer,
    > .clearfix {
        display:    none;
        transition: all 2s;
    }
}

.page-actions {
    .btn-group {
        margin-top: 0;
    }
}
